

body {
    background-color: white;


}

#job-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.job-card {
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: lightblue;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}